{% extends "base.html" %} {% block title %}Nginx configurator{% endblock %} {%
block content %}
<h3 class="m-3 d-flex justify-content-center">Configure Nginx web server</h3>
<section class="d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data" class="d-flex flex-column col-md-8"
        class="form-group d-flex flex-column">
        <div class="form-group d-flex flex-column">
            <label for="server_name" class="col-form-label">Server name</label>
            <input type="text" class="form-control" id="server_name" name="server_name"
                placeholder="Enter server name e.g. ubuntu" />
        </div>
        <div class="form-group d-flex flex-column">
            <label for="ip_addr" class="col-form-label">Server IP address</label>
            <input type="text" class="form-control" id="ip_addr" name="ip_addr"
                placeholder="Enter Server IP address e.g. 192.168.010.2" />
        </div>
        <div class="form-group d-flex flex-column">
            <label for="private_key" class="col-form-label">Name of private key file</label>
            <input type="file" class="form-control" id="private_key" name="private_key" />
        </div>
        <div class="form-group d-flex flex-column">
            <label for="passphrase" class="col-form-label">Private key passphrase
                <small class="text-muted">(required if you use a passphrase)</small>
            </label>
            <input type="password" class="form-control" id="passphrase" name="passphrase" placeholder="****" />
        </div>
        <div class="mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-success col-4">Submit</button>
        </div>
    </form>
</section>
{% endblock %}